*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Poppins';
  background: #FFF;
  overflow-x: hidden;
  
}
.header-section{
  width: 100vw;
  display: flex;
  flex-direction: column;
}
@media (max-width: 420px) {
  .header-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .header-paragraph{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 70%;
  }
  .tooltiptext {
    display: none;
    width: 80%;
    position: absolute;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1;
    opacity: 0; /* Start with opacity set to 0 */
    transition: opacity 1s; /* Add a smooth transition for opacity */
    margin-top: 20px;
  }
  .header-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .sign-button{
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
  transition: background-color 0.3s; 

  }
  .sign-button:hover {
    background: linear-gradient(113deg, #16649A 5.86%, #267AB5 100.1%), #16649A;
    
  }
  .blue-button-email{
    display: inline-flex;
    padding: 15px 65px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-inline-end: 20px;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
    margin: 0;
  }
  .blue-button{
    display: inline-flex;
    padding: 14px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    /* margin-inline-end: 20px; */
  }
 
  .hero-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .logo-header img{
    width: 120px;
  }
  .header-link{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  .header-link-a{
    color: var(--White, #FFF);
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
background: transparent;
border: none;
  }
  .header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .title{
    color: var(--Black, #121E2A);
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
  }
  span{
    background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  .hero-paragraph{
    color: var(--Text-Black, #4D5660);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; 
  }
  .hero-right-conatainer {
    order: 2; 
    margin-top: 20px; 
  }
  .listing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .list img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  /* Target the first and second items in the second row and make them larger */
  .list img:nth-child(4),
  .list img:nth-child(5) {
    width: calc(50% - 10px);
  }
  .roadmap-title {
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 14px;
}
.roadmap-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}
.roadmap-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.roadmap-right-container {
  width: 100%;
  display: contents;
}
.roadmap-right-container img {
  width: 100%;
}
.roadmap-container-sp {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}
.roadmap-right-container .desized {
  width: 90%;
  display: flex;
  justify-content: center;
}
.roadmap-right-container .resized {
  width: 100;
}
.roadmap-inner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 120px;
  padding-top: 100px;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}
.testimonial-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* row-gap: 20px; */
  gap: 50px;
}
.testimonial-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
.pre-fotter-section{
  width: 100%;
  height: 50vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 86.89%, #FFF 100%), url(./img/businessman-pointing-at-his-business-presentation-on-the-high-technology-digital-screen\ 1.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-between; */
  padding: 20px 30px;

}
.here-hidden-image{
  display: block;
  width: -webkit-fill-available;
  margin: 25px 0;
}
.hero-usual-image{
  display: none;
}
.footer-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 20px 10px; */
}
.tooltiptext {
  display: none;
  width: 90%;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s; /* Add a smooth transition for opacity */
  margin-top: 20px;
}
}

.pricing-section h1{
  margin-bottom: 20px;
}
.header{
  width: 100vw;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
}


.social img{
  width: 32px;
  margin-right: 10px;
}
.hero-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.green-button{
  display: flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(113deg, #46C4A3 5.86%, #3CAC8F 100.1%);
  box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}
.green-button:hover {
  background: linear-gradient(113deg, #51c5a6 5.86%, #5ecfb1 100.1%);
  box-shadow: 1px 2px 10px 0px rgba(14, 63, 98, 0.3); 
}
@media screen and (min-width: 421px) and (max-width: 1919px){
.hero-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: flex-start;
}
.blue-button{
  display: inline-flex;
  padding: 15px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
  box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-inline-end: 20px;
  transition: background 0.2s, transform 0.2s;
  cursor: pointer;
}
.blue-button:hover {
  background: linear-gradient(113deg, #5190bd 5.86%, #5ca3d6 100.1%), #60a1cf;
  box-shadow: 1px 2px 10px 0px rgba(14, 63, 98, 0.3);
}
.here-hidden-image{
  display: none;
}
.hero-usual-image{
  display: block;
}
.header-link{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
  align-items: center;
  justify-content: center;
}
.sign-button{
  display: inline-flex;
padding: 10px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
color: var(--White, #FFF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
cursor: pointer;
transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}
.sign-button:hover {
  background: linear-gradient(113deg, #16649A 5.86%, #267AB5 100.1%), #16649A;
  /* Change the background color on hover */
  transform: scale(1.05); /* Slightly scale up the button on hover */
  box-shadow: 1px 2px 10px 0px rgba(14, 63, 98, 0.3); /* Add a subtle shadow on hover */
}
.header-paragraph{
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 20px;
}
.header-link-a{
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background: transparent;
  border: none;
}
.header-inner{
  width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.title{
  color: var(--Black, #121E2A);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
span{
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 130%;
}
.hero{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
}
.hero-container{
  display: flex;
  flex-direction:row;
  width: 80%;

}
.hero-paragraph{
  align-self: stretch;
  color: var(--Text-Black, #4D5660);
/* B */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
  
}
.footer-paragraph{
  margin-right: 30%;
}
.listing{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.list{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.list img{
  width: 120px;
}
.roadmap-title{
  width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 14px;
}
.roadmap-container{
  display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
.roadmap-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  justify-content: center;
}
.roadmap-right-container{
  width: 30%;
}
.roadmap-right-container img{
  width: 120%;
}
.roadmap-container-sp{
  display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 120px;
}
.roadmap-right-container .desized{
  width: 110%;
}
.roadmap-right-container .resized{
  width: 130%;
}
.roadmap-inner-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 120px;
}
.pricing-container{
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  width: 70%;
}
.testimonial-container{
  width: 70%;
  display: flex;
  flex-direction: row;
  /* row-gap: 20px; */
  gap: 20px;
}
.testimonial-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}
.pre-fotter-section{
  width: 100%;
  height: 80vh;
  background: linear-gradient(275deg, #FFF 14.86%, rgba(255, 255, 255, 0.00) 33.6%), url(./img/businessman-pointing-at-his-presentation-on-the-futuristic-digital-screen\ 3.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 0%;
  padding-left: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.testimonial{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.04), 2px 8px 9px 0px rgba(0, 0, 0, 0.03), 5px 19px 12px 0px rgba(0, 0, 0, 0.02), 8px 34px 14px 0px rgba(0, 0, 0, 0.01), 13px 53px 15px 0px rgba(0, 0, 0, 0.00);
  padding: 15px;
width: 80%;
margin-top: 20px;
  justify-content: space-between;
}
.tooltiptext {
  display: none;
  width: 28%;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s; /* Add a smooth transition for opacity */
  margin-top: 20px;
}
}



.hero-right-conatainer img{
  width: 100%;
}
.hero-left-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-content: center;
}
.hero-content{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.section-span{
  background: linear-gradient(90deg, #267AB5 0%, #16649A 100%);
  width: 100%;
  height: 50px;
}
.roadmap-section{
  width: 100%;
}

.roadmap-title-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, rgba(225, 237, 251, 0.50) 0%, rgba(244, 249, 252, 0.50) 73.42%);
  padding-top: 80px;
}








.number{
  z-index: -1;
  position: absolute;
}

.pricing-section{
  height: auto;
  
}
.pricing-wrapper{
  width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}
.pricing-section-inner{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 120px
}

.pricing-title{
  width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}
.pricing-unit{
  border-radius: 10px;
background: var(--White, #FFF);
box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.04), 2px 8px 9px 0px rgba(0, 0, 0, 0.03), 5px 19px 12px 0px rgba(0, 0, 0, 0.02), 8px 34px 14px 0px rgba(0, 0, 0, 0.01), 13px 53px 15px 0px rgba(0, 0, 0, 0.00);
width: 100%;
width: 100%;
    height: fit-content;
}
.pricing-unit-transperent{
  width: 100%;
}
.pricing-unit-body-transperent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-unit-header{
  background: rgba(38, 122, 181, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-unit-header .title-1{
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.pricing-unit-header-transperent h4{
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pricing-unit-body h3{
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.pricing-unit-body .timeframe{
  color: var(--Black, #121E2A);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.pricing-unit-body{
  padding: 65px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-unit-activated .pricing-unit-header{
  background: #498ABD;
}
.pricing-unit-activated .title-1{
  background: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-unit-activated .pricing-unit-header p{
  color: var(--White, #FFF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: 0.32px;
}
.pricing-unit-activated {
  border-radius: 10px;
background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.04), 2px 8px 9px 0px rgba(0, 0, 0, 0.03), 5px 19px 12px 0px rgba(0, 0, 0, 0.02), 8px 34px 14px 0px rgba(0, 0, 0, 0.01), 13px 53px 15px 0px rgba(0, 0, 0, 0.00);

}
.pricing-unit-activated .pricing-unit-body{
  padding: 25px 45px;
}
.pricing-unit-activated .pricing-unit-body h3{
  background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pricing-unit-activated .pricing-unit-body .timeframe{
  color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;

}
.pricing-unit-activated .pricing-unit-body .extra{
  color: var(--White, #FFF);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.36px;
margin-bottom: 10px;
display: none;
}
.pricing-unit .green-button{
  display: none;
}
.pricing-unit-activated .green-button{
  display: block;
}
.hidden-p{
  background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}
.pricing-unit-activated .hidden-p{
  display: block;
}
.hidden-p{
  display: none;
}


.roadmap-container-content{
  color: var(--Text-Black, #4D5660);
  font-size: 14px;

/* B */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
}
.roadmap-container-title{
  color: var(--Black, #121E2A);
  width: 100%;

}


.extra{
  color: #FF6262;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  letter-spacing: 0.36px;
}

.pricing-unit-header-transperent{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pricing-unit-body-transperent img{
  width: 280px;
}
.testimonial-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  background: linear-gradient(270deg, rgba(225, 237, 251, 0.50) 0%, rgba(244, 249, 252, 0.50) 73.42%);
}

/* .testimonial-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
} */
.testimonial-details{
  display: flex;
  flex-direction: row;
}
.profile-details{
  display: flex;
  justify-content: center;
  flex-direction: column
  ;
}


.testimonial-text p{
  font-size: 14px;
}
.testimonial-text{
  margin: 15px 0;
}
.rating{
  margin-top: 5px;
}
.profile-photo img{
  margin-right: 10px;
  width: 60px;
    border-radius: 50%;
}
.name{
  color: var(--Black, #121E2A);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}
.name-description{
  color: var(--Text-Black, #4D5660);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
.absolute-num{
  display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.absolute-num-sp{
  display: flex;
    align-items: center;
    padding-bottom: 35px
}

footer{
  background: linear-gradient(131deg, #267AB5 -11.8%, #004372 112.86%);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
footer p{
  color: var(--White, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
@media(min-width: 1920px){
  .hero-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-start;
  }
  .blue-button{
    display: inline-flex;
  padding: 15px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
  box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-inline-end: 20px;
  transition: background 0.2s, transform 0.2s;
  cursor: pointer;
  }

  .blue-button-email{
    display: inline-flex;
    padding: 15px 75px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-inline-end: 20px;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
    margin: 0;
    margin-right: 20px;
  }
  .hardware-blue-button,
.blue-button-email{
  display: inline-flex;
  padding: 15px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
  box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  margin-inline-end: 20px;
  transition: background 0.2s, transform 0.2s;
  cursor: pointer;
  margin-top: 10px;
}
  .blue-button:hover {
    background: linear-gradient(113deg, #5190bd 5.86%, #5ca3d6 100.1%), #60a1cf;
    box-shadow: 1px 2px 10px 0px rgba(14, 63, 98, 0.3);
  }
  .here-hidden-image{
    display: none;
  }
  .hero-usual-image{
    display: block;
  }
  .header-link{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
    align-items: center;
    justify-content: center;
  }
  .sign-button{
    display: inline-flex;
  padding: 15px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
  box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
  }
 

  .sign-button:hover {
    background: linear-gradient(113deg, #16649A 5.86%, #267AB5 100.1%), #16649A;
    /* Change the background color on hover */
    transform: scale(1.05); /* Slightly scale up the button on hover */
    box-shadow: 1px 2px 10px 0px rgba(14, 63, 98, 0.3); /* Add a subtle shadow on hover */
  }
  .green-button{
    display: flex;
    padding: 15px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(113deg, #46C4A3 5.86%, #3CAC8F 100.1%);
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
  }
  .header-paragraph{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
  }
  .header-link-a{
    color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background: transparent;
  border: none;
  }
  .header-inner{
    width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
  }
  .title{
    color: var(--Black, #121E2A);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  span{
    background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 59px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  }
  .hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
  }
  .hero-container{
    display: flex;
    flex-direction:row;
    width: 80%;
  
  }
  .hero-paragraph{
    align-self: stretch;
    color: var(--Text-Black, #4D5660);
  /* B */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
    
  }
  .footer-paragraph{
    margin-right: 30%;
  }
  .listing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .list{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .list img{
    width: 200px;
  }
  .roadmap-title{
    width: 70%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 14px;
  }
  .roadmap-container{
    display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      gap: 50px;
  }
  .roadmap-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: center;
  }
  .roadmap-right-container{
    width: 30%;
  }
  .roadmap-right-container img{
    width: 120%;
  }
  .roadmap-container-sp{
    display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      gap: 120px;
  }
  .roadmap-right-container .desized{
    width: 110%;
  }
  .roadmap-right-container .resized{
    width: 130%;
  }
  .roadmap-inner-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 120px;
  }
  .pricing-container{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    width: 70%;
  }
  .testimonial-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    /* row-gap: 20px; */
    gap: 20px;
  }
  .testimonial-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .pre-fotter-section {
    width: 100%;
    height: 55vh;
    background: linear-gradient(275deg, #FFF 14.86%, rgba(255, 255, 255, 0.00) 33.6%), url(./img/businessman-pointing-at-his-presentation-on-the-futuristic-digital-screen\ 3.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 0%;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  .hero-right-conatainer img {
    width: 110%;
  }
  .logo-header img{
    width: 300px;
  }
  .roadmap-container-title h2{
    font-size: 40px;
  }
  .roadmap-container-content p{
    font-size: 18px;
    margin-top: 20px
  }
  .absolute-num{
    display: flex;
    align-items: center;
    padding-bottom: -55px;
    /* bottom: 20px; */
    margin-bottom: -30px
  }
  .number {
    z-index: -1;
    position: absolute;
    width: 250px;
}
.pricing-title h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.pricing-title p{
  font-size: 20px;
}
.testimonial .rating img{
  width: 30px;
}
.testimonial-text p {
  font-size: 16px;
}
.name {
  color: var(--Black, #121E2A);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.name-description {
  color: var(--Text-Black, #4D5660);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.profile-photo img {
  margin-right: 10px;
  width: 60px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.04), 2px 8px 9px 0px rgba(0, 0, 0, 0.03), 5px 19px 12px 0px rgba(0, 0, 0, 0.02), 8px 34px 14px 0px rgba(0, 0, 0, 0.01), 13px 53px 15px 0px rgba(0, 0, 0, 0.00);
  padding: 20px;
}
.title-1{
  font-size: 30px;
}
.under-text{
  font-size: 18px;
}
.pricing-unit-body h3 {
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pricing-unit-body .timeframe {
  color: var(--Black, #121E2A);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.extra {
  color: #FF6262;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.36px;
}
.pricing-unit-header-transperent h4 {
  background: var(--Gradient, linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.pricing-unit-activated .title-1 {
  background: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pricing-unit-activated .pricing-unit-header p {
  color: var(--White, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.32px;
}
.hidden-p {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.social img {
  width: 52px;
  margin-right: 10px;
}
.logo img{
  width: 400px;
}
footer p {
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.tooltiptext {
  display: none;
  width: 28%;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s; /* Add a smooth transition for opacity */
  margin-top: 20px;
}
.testimonial{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.04), 2px 8px 9px 0px rgba(0, 0, 0, 0.03), 5px 19px 12px 0px rgba(0, 0, 0, 0.02), 8px 34px 14px 0px rgba(0, 0, 0, 0.01), 13px 53px 15px 0px rgba(0, 0, 0, 0.00);
  padding: 15px;
  width: 33%;
  justify-content: space-between;
}
.tooltiptext {
  display: none;
  width: 28%;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  opacity: 0; /* Start with opacity set to 0 */
  transition: opacity 1s; /* Add a smooth transition for opacity */
  margin-top: 20px;
}

}
/* Initially hide the tooltip */
.hardware {
  background-color: #16649A;
  margin-top: 10px;
}

/* Show the tooltip with a fade-in animation when hovering over the button */
.hardware-blue-button:hover + .tooltiptext {
  display: block;
  opacity: 1;
}

a {
  text-decoration: none;
}



.hardware-blue-button{
  display: inline-flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-inline-end: 20px;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
    margin-top: 10px;
}
/* .blue-button-email{
  display: inline-flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(113deg, #267AB5 5.86%, #16649A 100.1%), #267AB5;
    box-shadow: 1px 2px 6px 0px rgba(14, 63, 98, 0.20);
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-inline-end: 20px;
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
} */

